.back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #333, $alpha: .5);
  z-index: 999;
  display: flex;
  justify-content: center;
}

.main{
  width: 900px;
  height: 620px;
  padding: 20px;
  overflow: auto;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 20px;
  position: relative;
}

.single{
  width: 80%;
  padding: 15px;
  padding-left: 30px;
  margin: 10px auto;
  box-shadow: 0 0 10px 0 rgba(58, 58, 58, 0.07);
  border-radius: 3px;
}

.icon{
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.span{
  margin-right: 10px;
}
