.back{
  padding: 5px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}  

.main{
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 10px;
}

.show_box{
  padding: 15px;
  width: 500px;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 130px 180px auto;
  box-shadow: 0 0 10px 0 rgb(58 58 58 / 7%);
  transition: all 0.3s;

  .index_box{
    grid-column: 1/4;
    // grid-row: 3/4;
  }
  
  .colOneToFour {
    grid-column: 1/4;
  }

}

.show_box:hover {
  box-shadow: 0 0 10px 0 #74bafb;
}

.label{
  color: gray;
  margin-right: 5px;
}

.apply_btn{
  margin-bottom: 10px;
  width: 90px;
}

.btn_box{
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: 100px;
}

.btn_box2{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
}

.text{
  margin-left: 15px;
  margin-bottom: 5px;
}

.main_head{
  grid-column: 1/4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pagination_bottom{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.null_box{
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info_text{
  color: gray;
}

.NoInfoIcon{
  width: 100px;
  margin-top: -100px;
}

.store_btn{
  margin-right: 15px;
}

.delete{
  width: 10px;
  height: 10px;
  cursor: pointer;
}