.btn{
  margin: 5px;
}

.btn_box{
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin-left: 130px;
}

.a_box {
  display: flex;
  justify-content: space-between;
}

.btn_box2{
  width: 210px;
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
}
