.applyInfo_box {
  width: 100%;
  border-bottom: 1px solid rgb(58 58 58 / 7%);
}
.head{
  display: flex;
}

.applyMain{
  padding: 10px;
  .left {
    margin-right: 40px;
  }

  .reason_box{
    margin-top: 5px;
  }
}
.applyTime{
  font-size: 12px;
  color: gray;
}

.right_tags{
  margin-left: auto;
}

.refuse{
  cursor: pointer;
}

.ok{
  cursor: pointer;
  margin-right: 10px;
}

.refuse_box{
  display: flex;
}

.box{
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.warn{
  font-size: 12px;
  color: #f50;
}