.leave_btn{
  margin-top: 5px;
  margin-left: 5px;
}

.btn_box{
  margin-left: 120px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.deleteIcon{
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.list_line{
  width: 300px;
  display: flex;
  color: dimgray;
  justify-content: space-between;
  align-items: center;
}

.list_box{
  padding: 5px;
}