.box {
  padding: 10px;
  width: 450px;
  box-shadow: 0 0 10px 0 rgb(58 58 58 / 7%)
}

.header {
  display: flex;

  .title {
    color: gray;
    align-items: center;
    letter-spacing: 0.5px;
  }
}

.main{
  padding: 10px;
}