.select {
}

.remind_text{
  color: gray;
  margin-top: -10px;
  margin-left: 5px;
}
.btn_box {
  width: 100%;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.btn_boxs{
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin-left: 120px;
}